<section id="banner">
  <div class="container">

    <!-- Sign Up Form
          ================================================= -->
  
    <div class="sign-up-form">
        <a href="index.html" class="logo"><img src="/images/logo.png" alt="Friend Finder" /></a>
        <h2 class="text-white">Vous avez déja un compte?</h2>
        <div class="line-divider"></div>
        <div class="form-wrapper">
            <p class="signup-text">Connectez-vous pour intéragir avec la communauté faiseur de paix dans le monde entier</p>
        <br>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
         
          <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: 'email@example.com' %>
        </div>
        <div class="form-group">
          
          <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: 'mot de passe' %>
        </div>
        <% if devise_mapping.rememberable? -%>
      
        <% end -%>
        <div class="actions">
          <%= f.submit 'Se Connecter', class: 'btn-secondary' %>
        </div>
        <% end %>
        <br>
        <%= render 'devise/shared/links' %>
      </div><!-- Sign Up Form End -->

      <svg class="arrows hidden-xs hidden-sm">
        <path class="a1" d="M0 0 L30 32 L60 0"></path>
        <path class="a2" d="M0 20 L30 52 L60 20"></path>
        <path class="a3" d="M0 40 L30 72 L60 40"></path>
      </svg>
    </div>
</section>

<!-- Features Section
      ================================================= -->
<section id="features">
  <div class="container wrapper">
   <br> <br> <br>
    <h1 class="section-title slideDown">Pour un monde plus juste </h1>
     <br>
    <div class="row slideUp">
      <div class="feature-item col-md-2 col-sm-6 col-xs-6 col-md-offset-2">
        <div class="feature-icon"><i class="icon ion-person-add"></i></div>
        <h3>Communauté</h3>
      </div>
      <div class="feature-item col-md-2 col-sm-6 col-xs-6">
        <div class="feature-icon"><i class="icon ion-images"></i></div>
        <h3>Publier vos poste</h3>
      </div>
      <div class="feature-item col-md-2 col-sm-6 col-xs-6">
        <div class="feature-icon"><i class="icon ion-chatbox-working"></i></div>
        <h3>Chat Privé</h3>
      </div>
      <div class="feature-item col-md-2 col-sm-6 col-xs-6">
        <div class="feature-icon"><i class="icon ion-compose"></i></div>
        <h3>Crée de évenements</h3>
      </div>
    </div>
    <h2 class="sub-title">Trouvé des gens comme vous</h2>
  
  </div>

</section>